annotated-types
anyio
beautifulsoup4
blinker
certifi
click
colorama
distro
exceptiongroup
Flask
Flask-Cors
git-filter-repo==2.45.0
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
importlib_metadata
itsdangerous
Jinja2
jiter
Markdown
markdown2==2.5.1
MarkupSafe
openai
pydantic
pydantic_core
python-dotenv==1.0.1
sniffio
soupsieve
tqdm
typing_extensions
Werkzeug
zipp